In [76]:
'''
Code to extract the airport names and codes from the html text
'''
from bs4 import BeautifulSoup
import pandas as pd

df=pd.DataFrame(columns=['Airport_name','Airport_code'])


with open('reference_data/airports_list.txt', 'r') as f:
        for html_tag in f:
            soup = BeautifulSoup(html_tag, 'html.parser')
            #print(soup)
            option_value_text = soup.option['value']
            airport_name= soup.text.replace("\n", "")
            df.loc[len(df)] = [airport_name, option_value_text]
            
            
#df.to_csv('airport_codes_reference.csv',index=False)

In [74]:
from bs4 import BeautifulSoup
import pandas as pd

df=pd.DataFrame(columns=['Carrier_name','Carrier_code'])


with open('reference_data/carriers_list.txt', 'r') as f:
        for html_tag in f:
            soup = BeautifulSoup(html_tag, 'html.parser')
            option_value_text = soup.option['value']
            Carrier_name= soup.text.replace("\n", "")
            df.loc[len(df)] = [Carrier_name, option_value_text]
            
#df.to_csv('airport_carrier_codes_reference.csv',index=False)

In [77]:
df

                                          Airport_name Airport_code
0                Aberdeen, SD: Aberdeen Regional (ABR)          ABR
1                  Abilene, TX: Abilene Regional (ABI)          ABI
2                          Adak Island, AK: Adak (ADK)          ADK
3                Aguadilla, PR: Rafael Hernandez (BQN)          BQN
4               Akron, OH: Akron-Canton Regional (CAK)          CAK
..                                                 ...          ...
451  Yakima, WA: Yakima Air Terminal/McAllister Fie...          YKM
452                 Yakutat, AK: Yakutat Airport (YAK)          YAK
453  Yap, Federated States of Micronesia: Yap Inter...          YAP
454  Youngstown/Warren, OH: Youngstown-Warren Regio...          YNG
455       Yuma, AZ: Yuma MCAS/Yuma International (YUM)          YUM

[456 rows x 2 columns]

In [92]:
df[df['Airport_name']=='Abilene, TX: Abilene Regional (ABI)']['Airport_code']

1    ABI
Name: Airport_code, dtype: object